.model_switch{
    width:100px;
}
.model_switch input.layui-input.layui-unselect {
    background-color: rgba(0,0,0, 0.3);
    border: 0px;
    color: white;
    height: 30px;
    margin-left:-70px;
    text-align:center;
}

.model_switch .layui-form-select .layui-edge{
    left:5px;
}
.model_switch input.layui-input.layui-unselect:hover{
    margin-left:0px;
}
.model_switch dl.layui-anim.layui-anim-upbit {
    background-color: rgba(0,0,0, 0.3);
    color: white;
    border-radius: 5px;
    border: 0px;
}