<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/common :: copyCommon"></head>
<link rel="stylesheet" href="static/css/login/login.css">
<script src="static/plugin/validate/jquery.validate.js"></script>
<script src="static/js/login/login.js"></script>
<srcipt type="text/javascript" src="static/js/common/dynamicImgLine.js"></srcipt>
<script type="text/javascript" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>登录</title>
<body>
<div class="out_login">
    <form class="layui-form" action="/user/login" method="post" id="formGrid">
        <div class="title"><h2>登录</h2></div>
        <div class="l_err"><label class="err_msg"></label></div>
        <input type="text" name="userName" required lay-verify="required" placeholder="请输入用户名" autocomplete="off"
               class="layui-input">
        <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off"
               class="layui-input">
        <label class="layui-form-label">记住我</label>
        <div class="layui-input-block">
            <input type="checkbox" name="storePwd" lay-skin="switch" lay-text="" lay-filter="switchTest" value="1">
        </div>
        <input type="button" class="layui-btn layui-btn-normal button" value="登录"/>
    </form>
</div>
</body>
</html>